.container {
  max-width: 1200px;
  margin: 0 auto;
}

.check-elements {
  background-color: #4080ff;
  padding: 10px;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 100px;
}

.hotels-info-name {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  color: #292a2d;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding: 20px;
  cursor: pointer;
  background: gainsboro;
  width: 100%;
  text-align: center;
}

.admin-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
