* {
  font-family: sans-serif;
  font-size: 18px;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 20px auto;
  max-width: 400px;
  align-items: flex-start;
}

.edit-hotel,
.save-hotel,
.delete-hotel,
.add-room {
  background-color: #008842;
  padding: 8px 14px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.save-hotel {
  background-color: #3793ff;
}

.hotels-info-name {
  font-size: 18px;
  color: #3793ff;
  font-weight: bold;
}

.hotels-info {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
}

b {
  margin-right: 5px;
}

.edit-hotel-input {
  padding: 8px 26px 8px 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.hotel-img {
  align-self: flex-start;
  margin-bottom: 15px;
  width: 250px;
  height: 250px;
}

.rooms-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.hotel-rooms {
  margin: 10px 0 10px 0;
}

.room-img {
  width: 150px;
  height: 150px;
}

.show-related-rooms {
  border: 1px solid #fff;
  background: #1fa8d4;
  padding: 9px 14px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.room-buttons {
  display: flex;
  justify-content: space-between;
}

.delete-hotel {
  background-color: #c00707;
}

.add-room-form {
  display: flex;
  flex-direction: column;
}

.add-room-form input {
  height: 23px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #7c7c7c;
  margin: 5px;
  flex: 2;
}

.add-room {
  margin-bottom: 10px;
  background-color: #ff693b;
}

.add-room-modal {
  background-color: #000;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 7px 0 0 0;
}

.add-modal-close {
  background-color: #c00707;
}
