.hotel-room {
  border: 1px solid rgba(84, 84, 84, 0.22);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  font-family: sans-serif;
  padding: 15px;
  margin: 10px;
  max-width: 250px;
  font-size: 18px;
}

.room-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;;
}

.room-img {
  width: 250px;
  height: 250px;
  margin: 0;
}

.hotel-room span {
  margin: 10px 0 5px 0;
}

.filter-by-price {
  border: none;
  padding: 8px 10px;
  background-color: #0b68a9;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
