.hotel {
  border: 1px solid rgba(84, 84, 84, 0.22);
  border-radius: 3px;
  padding: 13px;
  display: inline-block;
  cursor: pointer;
  font-family: sans-serif;
}

.hotels-wrapper {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 20px auto 0 auto;
  height: min-content;
}

.hotel-img {
  width: 200px;
  height: 200px;
}

.hotel-name {
  color: #4080ff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.hotel-info {
  font-size: 14px;
}

strong {
  font-size: 16px;
}

.filters {
  background-color: lightgray;
  height: 100vh;
  width: 400px;
}

.home-wrapper {
  display: flex;
}

.filters-input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.filters-label {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.filters-form {
  padding: 20px;
}

.hotel-img {
  display: flex;
  margin: auto;
}

.filter-by-title {
  font-family: sans-serif;
  margin: 10px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.filter-input-wrapper,
.filter-by-beds {
  margin: 10px 0 10px 0;
}

.filters-apply {
  background-color: #000;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
