<form #userSignUp="ngForm" (ngSubmit)="onSubmit(userSignUp.value)" class="login-form">
  <label class="login-label">Display Name</label>
  <input class="login-input" name="display-name" ngModel type="text">
  <label class="login-label">Email</label>
  <input class="login-input" name="email" ngModel type="email">
  <label class="login-label">Password</label>
  <input class="login-input" name="password" ngModel type="password">
  <button class="login-button" type="submit">Sign Up</button>
</form>
