<header>
  <div class="header-inner">
    <a routerLink="/hotels">Home</a>
    <ng-container *ngIf="!registration.userIsAuth">
      <div class="header-right">
        <a routerLink="/login">Log In</a>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </ng-container>
    <ng-container *ngIf="registration.signUpUser.isAuth && registration.userIsAuth">
      <span class="header-username">{{registration.signUpUser.displayName}}</span>
      <button (click)="logOut()">Log Out</button>
    </ng-container>
    <ng-container *ngIf="registration.admin.isAuth && registration.userIsAuth">
      <div class="header-admin">
        <span class="header-username">{{registration.admin.displayName}}</span>
        <a routerLink="/adminInterface" class="admin-interface">Admin Panel</a>
        <button class="log-out" (click)="logOut()">Log Out</button>
      </div>
    </ng-container>
  </div>
</header>
