body {
  margin: 0;
}

.wrapper {
  height: calc(90vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 18px;
}

img {
  object-fit: cover;
}

span.dropdown-multiselect__caret::before {
  border-color: #0b0b0b transparent !important;
}

span.dropdown-btn {
  width: 95% !important;
  font-family: sans-serif !important;
  border: 1px solid #000 !important;
}
